ul.partner,
ul.partner>li {
  list-style: none;
  text-align: left;
  font-size:17px;
}

ul.partner>li{
  height: 530px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

ul.partner > li:nth-of-type(even){
  //background:#a9b6fa;
  //color:white;
}

ul.partner div.item{
  width:1000px;
  margin:auto;
}

.item{
  padding-top:100px;
  .item-content{
    width:650px;
    float: left;
  }
  .item-logo{
    display: block;
    float: left;
    img{
      width:340px;
	  padding-top:15px;
    }
  }
  .item-btn-footer{
    margin-top:25px;
    text-align: center;
  }
}
.all-content{
  //background:url(http://oow7renvm.bkt.clouddn.com/ea4fd8e87fd48882be9999e2fb7d7988.jpg) center repeat-y;
  //background-size: 100% 105% !important;
  .content-head{
    background: url(http://odp22tnw6.bkt.clouddn.com/xsgj.jpg) center no-repeat;
    background-size:100% 105%;
    width:100%;
    height:220px;
    position: relative;
    text-align: center;
    color:white;
  }
}
.ctent{
font-size:20px;
}
